body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222222;
    padding: 20px;
    text-align: center;
}

#search-bar {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

.movie-item {
    background-color: #333333;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
}
